{% extends 'base.html.twig' %}

{% block title %}
    {{ user.getUsername() }}'s projects
{% endblock %}

{% block body %}
    <h2>Is nice to see you {{ user.getUsername() }}</h2>
    <h3>New project</h3>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-5">
            {{ form_label(form.name) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.startDate) }}
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-5">
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-4">
            {{ form_errors(form.startDate) }}
            {{ form_widget(form.startDate) }}
        </div>
        <div class="col-md-3 pull-right">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
    <table class="table table-responsive table-striped">
        <caption>Open Projects</caption>
        <tbody>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-7">Project</th>
            <th class="col-md-2">Start date</th>
            <th class="col-md-2">Last update</th>
        </tr>
        {% for p in projects %}
            <tr class="row">
                <td class="col-md-1">
                    <a href="{{ path('listat_delete_project', {'id': p.getId()}) }}" class="inline-btn">
                        <i class="fa fa-minus-square-o fa-lg inline-icon"></i></a>
                    <a href="{{ path('listat_edit_project', {'id': p.getId()}) }}" class="inline-btn">
                        <i class="fa fa-pencil-square-o fa-lg inline-icon"></i></a>
                </td>
                <td class="col-md-7">
                    <a href="{{ path('listat_task_list', {'id': p.getId()}) }}">
                        {{ p.getName() }}</a>
                </td>
                <td class="col-md-2">{{ p.getStartDate|date('d/m/Y') }}</td>
                <td class="col-md-2">{{ render(controller('ListatBundle:Project:lastUpdate', {'project' : p} )) }}<td>
            </tr>
        {% else %}
            <tr class="row">
                <td class="col-md-1"></td>
                <td class="col-md-7">
                    Currently there are no active projects
                </td>
                <td class="col-md-2"></td>
                <td class="col-md-2"><td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}