<h1>{{ project.getName() }}</h1>

{{ form_start(form) }}
<div>
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
</div>
<div>
    {{ form_label(form.startDate) }}
    {{ form_errors(form.startDate) }}
    {{ form_widget(form.startDate) }}
</div>
<div>
    {{ form_widget(form.reset) }}
    {{ form_widget(form.save) }}
</div>
{{ form_end(form) }}

<h3>Active tasks</h3>
<ul>
    {% for t in tasks %}
        <li>{{ t.getName() }} - {{ t.getStartDate|date('d/m/Y') }}</li>
    {% endfor %}
</ul>
